[submodule "RTKLIB"]
	path = RTKLIB
	url = https://github.com/rtklibexplorer/RTKLIB
[submodule "libserial"]
	path = libserial
	url = https://github.com/BlockByBlock/libserial
[submodule "GpsDrivers"]
	path = GpsDrivers
	url = https://github.com/AlexisTM/GpsDrivers
